---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <h1>Home</h1>
  <h2 slot="msg" class="mt-2 p-4 text-3xl bg-red-400 text-white">
    I EXIST TO SHOW OFF NAMED SLOTS!
  </h2>
</BaseLayout>

<script>
  console.log("index page");
</script>
