---
import "../styles/global.css";
const { title = "Astro Demo" } = Astro.props;
import Link from "../components/Link.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="p-8">
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <Link href="/contact">Contact</Link>
    </nav>
    <slot />
    <slot name="msg" />
  </body>
</html>
